body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.todo-title {
  cursor: pointer;
}

.completed-todo {
  text-decoration: line-through;
}

.tab-list {
  display: flex;
}

.tab-list > span {
  width: 50%;
  padding: 0.50rem 0.375rem;
  background-color:  #e9ecef;
  color: #000;
  text-align: center;
  cursor: pointer;
 
}

.tab-list > span.active {
  color: #fff;
  background-color:  #212529;
}

.tab-list > span:not(.active):hover {
  background-color: #dee2e6;
}